.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 6px 6px;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-progressbar-fill {
  border-radius: 6px 6px 0 0;
  background: var(--yellow) !important;
}

[class^="swiper-button"] {
  display: none !important;
}